main {
    /*Pos*/
    margin-top: 50px;
}

main > a {
    position: absolute;
    left: 80%;
    text-decoration: underline;
    font-style: italic;
}

.exemple_code {
    /*Pos*/
    margin: 15px 15px;
    padding: 5px;

    /*Appearance*/
    background-color: grey;
    color: white;
    border-radius: 10px;

    /*Content*/
    font-family: monospace;
}

#box1 {
    /*Pos*/
    width: 400px;
    height: 200px;

    /*Appearance*/
    background-color: red;

    /*Content*/
}

#box2 {
    /*Pos*/
    width: 400px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 20px;
    /*margin: 30px, 50px, 15px, 20px;*/
    padding: 50px;

    /*Appearance*/
    background-color: blue;
    border: 10px solid white;

    /*Content*/
}

#box3 {
    /*Pos*/
    width: 400px;
    height: 200px;

    /*Appearance*/
    background-color: green;

    /*Content*/
}