@font-face {
    font-family: "MadimeOne";
    font-style: normal;
    font-weight: 400;
    src: local("MadimeOne"), url("fonts/MadimiOne-Regular.ttf") format("truetype");
}

.ex1 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.ex2 {
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.ex3 {
    font-family: "Andale Mono", monospace;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.ex4 {
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    font-size: 12px;
    font-weight: 200;
}

.ex5 {
    font-family: Impact, fantasy;
    font-size: 10px;
    font-style: italic;
}

.ex6 {
    font-family: MadimeOne;
    font-size: 18px;
}